.cabecalho{
    padding-bottom: 1%;
}

.banner{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #324270;
}

#fundo_index{
    background: linear-gradient(90deg, #324270, #324680, #337ab7);
}

.imagem_banner{
    width: auto;
    height: auto;
}

.imagem_box{
    width: 100%;
    height: 100%;
}

.cursor_alterado {
cursor:Pointer;
}

.banner_box{
    padding-top: 10%;
    text-align: center;
}

.imagem_banner_box{
    width: 10%;
    height: 10%;
}

.grupo_login{
    text-align: center;
}

#box_login{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

.box_conteudo{
    background-color: #f6f3f3;
}

#titulo{
    font-size: 40px;
    color: white;
}
#sub-titulo{
    font-size: 24px;
    color: #de4a99;
}

li{
    font-size: 18px;
}
label{
    font-size: 18px;
}

.imagem_titulo{ 
    background-color: #428bca;
    color: #fff;
    text-align: center;
}

#box_login{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

#box_conteudo{
    font-size: 22px;
}

.table{
    text-align: center;
    font-size: 7px;
    border: 0px

}

th{

    text-align: center;
    font-size: 7x;
}

.medidasmapao {

    height: 32cm;
    width: 55cm;

}

.prefeitura{
    font-size: 22px;

}

.semed{

    font-size: 20px;
}

.mapa{
    font-weight: bold;
    font-size: 30px;
}

.tomeacu{
    height: 30%;
    width: 20%;


}

.tituloboletim{

    text-align: center;

}

.medidaboletim{

    height: 21cm;
    width: 29.7cm;

}

.tomeacuboletim{

    height: 10%;
    width: 5%;

}