.cabecalho{
    padding-bottom: 1%;
}

.banner{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #324270;
}

#fundo_index{
    background: linear-gradient(90deg, #324270, #324680, #337ab7);
}

.imagem_banner{
    width: auto;
    height: auto;
}

.imagem_box{
    width: 100%;
    height: 100%;
}

.enviar-mensagem{
    padding-top: 3%;
    padding-bottom: 3%;
}

.cursor_alterado {
    cursor:Pointer;
}

.banner_box{
    padding-top: 10%;
    text-align: center;
}

.imagem_banner_box{
    width: 10%;
    height: 10%;
}

.grupo_login{
    text-align: center;
}

.centralizar{
    text-align: center;
}

#box_login{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

a{
    text-decoration: none;
    color: inherit;
}

.box_conteudo{
    background-color: #f6f3f3;
}

.media_conteudo{
    padding: 2%;
}

.chat{
    color: #ffffff;
}

#titulo{
    font-size: 40px;
    color: white;
}
#sub-titulo{
    font-size: 24px;
    color: #de4a99;
}

li{
    font-size: 17px;
}
label{
    font-size: 18px;
}

.tabela_local{
    background-color: white;
}

.imagem_titulo{ 
    background-color: #428bca;
    color: #fff;
    text-align: center;
}

#box_login{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

#box_conteudo{
    font-size: 22px;
}

.rolagem{
    background-color: #324270;
    color: white;
    width: 100%;
    height: 60%;
    overflow: auto;
}

.table{
    text-align: center;
    font-size: 7px;
    border: 0px

}

th{

    text-align: center;
    
}

.medidasmapao {

    height: 32cm;
    width: 55cm;

}

.prefeitura{
    font-size: 22px;

}

.semed{

    font-size: 20px;
}

.mapa{
    font-weight: bold;
    font-size: 30px;
}

.tomeacu{
    height: 30%;
    width: 20%;


}

.tituloboletim{

    text-align: center;

}

.medidaboletim{

    height: 21cm;
    width: 29.2cm;

}

.tomeacuboletim{

    height: 10%;
    width: 5%;

}


tbody{

    background-color: #ffffff;
    border-bottom: solid 1px;
    border-top: solid 1px;

}

.medidaboletimII{

    height: 21cm;
    width: 29.2cm; 

}

.formatar{

    font-size: 12px;

}
.fontsize{
    font-size: 16px;    

}

#fonte{

    font-size: 16px;
}

@media print {

    #noprint {
        display : none          
    }

    #yesprint {

        visibility:visible;
        position: absolute;
        top:0;
        left:0;
        margin:0;
    }

}

#mapao {

    float:left;
    height:auto; 

}

#escolacor {
    background: linear-gradient(90deg, #324270, #324680, #337ab7);
    height: 150px;  
    padding-top: 5%;

}

#afonte {

    color: #ffffff
}

#mytabs {
    
    color: #0066cc;
}
