.cabecalho{
    padding-bottom: 1%;
}

.banner{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #324270;
}
#titulo{
    font-size: 40px;
    color: white;
}
#sub-titulo{
    font-size: 24px;
    color: #de4a99;
}

li{
    font-size: 22px;
}
label{
    font-size: 18px;
}

.imagem_titulo{
    background-color: #428bca;
    color: #fff;
    text-align: center;
}

#box_login{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

#box_conteudo{
    font-size: 22px;
}
